OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
DEEPSEEK_API_KEY=

# OpenRouter API密钥 - 在 https://openrouter.ai 获取，支持多种模型访问
OPENROUTER_API_KEY=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


# Set to false to disable anonymized telemetry
ANONYMIZED_TELEMETRY=false

# LogLevel: Set to debug to enable verbose logging, set to result to get results only. Available: result | debug | info
BROWSER_USE_LOGGING_LEVEL=info
